{{/*
  If you need to add content to your page header, override this template in your
  blog by creating a file named `/layout/partials/head/extra.html`. This way you
  don't have to edit the theme itself.
*/}}
<!-- Syntax Highlighting -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/darcula.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

