{{ if not ( eq .Section "page" ) }}
<footer class='entry-footer'>
  <div class='container sep-before'>
  {{- if and ( eq .Site.Params.settings.showLastmod true ) ( not ( eq .Lastmod .Date ) ) -}}
    {{- $dateFormat := ( .Site.Params.settings.dateFormat | default "2006, Jan 02" ) -}}
    <div class='last-updated'>
      {{- partial "svg/icons" "edit" -}}
      <span class='screen-reader-text'>{{ i18n "lastUpdated" }}: </span>
      <time class='entry-date' datetime='{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>
        {{- .Lastmod.Format $dateFormat -}}
      </time>
    </div>
  {{- end -}}

  <div id="sharing">
    シェアする :
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}" class="facebook" aria-label="share on Facebook">
      {{ partial "svg/icons" "facebook" }}
    </a>
   
    <a href="http://twitter.com/intent/tweet?text={{ .Title | safeJS }}%20%7C%20{{ .Site.Title }}%20{{ .Permalink | safeJS }}%20%40{{ .Site.Params.twitter }}" class="twitter" aria-label="share on Twitter">
      {{ partial "svg/icons" "twitter" }}
    </a>

    <a href="http://b.hatena.ne.jp/entry/{{ .Permalink | safeJS }}" class="twitter" aria-label="share on Hatena Bookmark">
      {{ partial "svg/custom-icons" "hatebu" }}
    </a>

    <a href="https://social-plugins.line.me/lineit/share?url={{ .Permalink | safeJS }}" class="twitter" aria-label="share on Line">
      {{ partial "svg/custom-icons" "line" }}
    </a>

    <a href="https://getpocket.com/save" class="pocket-btn" data-lang="en" data-save-url="{{ .Permalink | safeJS }}" class="twitter" aria-label="save to Pocket">
      {{ partial "svg/custom-icons" "pocket" }}
    </a>

    <a href="https://feedly.com/i/subscription/feed/{{ .Permalink | safeJS }}" class="twitter" aria-label="share on Feedly">
      {{ partial "svg/custom-icons" "feedly" }}
    </a>

  </div>

  {{ range $taxonomy, $pages := .Site.Taxonomies }}
    {{- if not ( eq $taxonomy "authors" ) -}}
      {{- if ( index $.Params $taxonomy ) -}}
        {{- $.Scratch.Set "taxonomy" $taxonomy -}}
        {{- partial "entry/taxonomy-list" $ -}}
      {{- end -}}
    {{- end -}}
  {{ end }}
  </div>
</footer>
{{ end }}
