{{- $defaultConfig := .Site.Data.config.default.widgets.recent_posts -}}
{{- $configData := ( or .Site.Data.config.widgets.recent_posts $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

{{- $length := ( $config.length | default 5 ) -}}

<section class='widget widget-recent_posts sep-after'>
  <header>
    <h4 class='title widget-title'>
      {{- $config.title | default ( i18n "recentPosts" ) -}}
    </h4>
  </header>

  <ul class='list'>
  {{ range ( first $length ( where .Site.RegularPages "Type" "not in" $config.excludeTypes ) ) }}
    {{ .Render "li" }}
  {{ end }}
  </ul>
</section>

{{ if gt .Paginator.TotalPages 1 }}
<nav id='pagination'>
  <div class='page-links'>

    {{ with .Paginator.Next }}
    <a class='page-link next' href='posts/page/2/'>
        Posts
      <span class='screen-reader-text'>Posts</span>
      {{- partial "svg/icons" "next" -}}
    </a>
    {{ end }}

  </div>
</nav>
{{ end }}